/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


.vh {
  height: 90vh;
}

.width50 {
  width: 50%;
}

.width80 {
  width: 80%;
}

.width100 {
  width: 100%;
}

.container{
  margin-top: 92px;
}

.header {
  background-color: #edebe8;
  width: 100%;

  padding: 21px 0;
}

.nohover:hover {
  background-color: transparent;
}

.body-color {
  background-color: #edebe8;
}

.pagination {
  justify-content: center;
}