<div class="container">
  <div style="height: 25vh;"></div>
  <h3 class="text-center">本当に退会しますか？</h3>
  <h4 class="text-center">退会すると、会員登録情報や</h4>
  <h4 class="text-center">これまでの購入履歴が閲覧できなくなります。</h4>
  <h4 class="text-center">退会する場合は、「退会する」をクリックしてください。</h4>

  <div class="row justify-content-center">
    <%= link_to "退会しない", my_page_path, class: "btn btn-primary mr-3 mt-5 text-light" %>
    <%= link_to "退会する", withdraw_user_path,  method: :patch, data: { confirm: '本当に退会してよろしいですか？' }, class: "btn btn-danger mt-5 text-light" %>
  </div>
</div>